/* 
  color palette
    - #C4C4C4
    - #919191
    - #444444
    - #2C2C2B
    - #191A1A
*/

#plot {
  display: block;
  margin: 0px auto;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #fff;
  background: #D61E29;
  margin-top: 6px;
  transition-duration: 0.4s;
}

#plot:hover {
  background-color: #fff;
  color: #D61E29;
  font-weight: bold;
}

.map-container {
  height: 400px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.marker {
  background-image: url('/public/images/android-chrome-512x512.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.sidebar {
  background-color: rgba(68, 68, 68, 1);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 10;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: #191A1A;
  min-height: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5 + 2vmin);
  color: #E00A24;
  border-top: 2px solid #444444;
}

header {
  background-color: #191A1A;
  min-height: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5 + 2vmin);
  color: #E00A24;
  border-bottom: 2px solid #444444;
}

h2 {
  color: #C4C4C4;
  font-family: sans-serif;
}
